* {
  margin: 0;
  padding: 0;
  }

html,
body {
  width:100%;
  overflow-x:hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

nav {
  background-color: #cad2c5;
  font-weight: 800;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
}

section {
  position: relative;
}

.card-title{
  padding: 1em;
  color: #a68a64;
}

.card {
  margin-bottom: 2em;
}

.fa-heart {
  color: rgb(226,93,93);
}

.story-icon {
  width: 3rem;
  height: 3rem;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  background-color: rgba(226,93,93,.05);
  border-radius: 50%;
}

.events-img-wrapper {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.events-img-wrapper > img {
  width: 250px;
  height: 200px;
}

.min-vh-80 {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.spacer-one-top-lg {
  padding-top: 4rem;
}

.full-screen-height {
  min-height: max-content;
}

.curved-decoration svg {
  position: relative;
  z-index: 2;
  top: 1px;
  width: 100%;
  height: 7vw;
}

#timer-photo {
  max-width: 100%;
}

#home-section {
  background-image: url('../../public/assets/img/despre-bg-image.jpg');
  /* background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://images.unsplash.com/photo-1603026198288-6a94fa57e2af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home-section svg, #story-section svg {
  fill: white;
}

#home-section h1 {
  font-size: min(max(16px, 7vw), 70px);
  /* font-size: max(11vh, 11vw); */
}

#story-section {
  background-color: #edede9;
}

#despre-section svg {
  fill: #edede9;
}

#end-section {
  /* background-image: url('../../public/assets/img/holding-hands.jpg'); */
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1) ), url('../../public/assets/img/holding-hands.jpg');
  background-position: 75% 25%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .full-screen-height {
    height: 100vh;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .full-screen-height {
    max-height: max-content;
  }
  .min-vh-80 {
    padding-top: 3rem;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .full-screen-height {
    height: 100vh;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #home-section.full-screen-height {
    height: 100vh;
  }
  .spacer-one-top-lg {
    padding-top: 10rem;
  }
  #home-section h1 {
    font-size: 100px;
  }
}
